page-register {
    ion-title {
        text-align: center;
        font-size: 18px;
        margin-right: 5vh;
        .toolbar-title.toolbar-title-md {
            color:#ea5404;
            font-weight: bold;
        }
    }
    .btn-register {
        text-align: center;
        .item-md .item-button {
            padding: 0 8.5em!important;
            height: 40px;
            font-size: 1.7rem;
        }
    }
    .toast-style {
        text-align: center;
        border-radius: 10px;
        font-size: 14px;
    }
}
