page-register {
    .btn-register {
        text-align: center;
        .item-md .item-button {
            padding: 0 8.5em!important;
            height: 40px;
            font-size: 1.7rem;
        }
    }
}
