page-home {
    // .anchorBL {
    //     display:none;
    // }
    ion-content {
        width: 100%;
        height: 100%;
        position: relative;
        #map_container{
            width: 100%;
            height: 100%;
        }
        .seach-list {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            background: transparent!important;
            padding: 8px;
            .city{
                float: left;
                top: 8px;
                width: 25%;
                text-align: center;
                background-color: #fff;
                border-radius: 2px;
                font-size: 1.6rem;
                padding: 1.1rem;
                margin-top:8px;
            }
            ion-searchbar{
                width: 75%;
                float: left;
                padding-left: 0;
            }
        }
    }
    
}
