page-home {
    .anchorBL {
        display:none;
    }
    ion-content {
        width: 100%;
        height: 100%;
        position: relative;
        #map_container{
            width: 100%;
            height: 100%;
        }
        .seach-list {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            background: transparent!important;
            padding: 8px;
            button{
                float: left; 
                margin-top:8px;
                font-size: 1.6rem;
                width: 20%;
                padding: 2rem;
                margin-right: 0;
                .cityName{
                    margin-left: 1vh;
                }
                ion-icon{
                    margin-left: 1vh;
                }
            }
            ion-searchbar{
                width: 79%;
                float: left;
                padding-left: 0;
            }
        }
    }
    
}
