page-contact {
    ion-title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .btn-list {
        padding: 5px;
        button{
            border: none;
            font-size: 14px;
            color: #fff;
            border-radius: 3px;
            padding: 5px 8px;
            margin-left: 10px;
        }
    }
    /deep/ {
        .toolbar-title.toolbar-title-md {
            font-size: 18px;
            font-weight: bold;
            color:#ea5404;
        }
    }
}
