<ion-header>
  <ion-navbar>
    <ion-title>个人中心</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="my-content">
  <div class="my-login">
    <div class="login-imgs">
      <img src="" alt="">
    </div>
    <div class="login-btn">
      <div class="login-name" (click)="toLogin()" *ngIf="ifshow">
        请点击注册/登录
      </div>
      <div class="login-name" *ngIf="!ifshow">
        {{user_name}}
      </div>
      <div class="login-list">
        <div>
          积分
        </div>
        <div>
          点赞
        </div>
      </div>
    </div>
  </div>
  <div class="menu-list">
      <div class="item-list" *ngFor="let item of barList">
        <div class="item-start-icon">
          <div class="{{item.png}}"></div>
        </div>
        <div class="item-content">{{item.name}}</div>
        <div class="item-btn"><ion-icon name="ios-arrow-forward-outline"></ion-icon></div>
      </div>
  </div>
</ion-content>